bin/Debug/net5.0/SupportBank.dll
bin/Debug/net5.0/SupportBank.pdb
obj/Debug/net5.0/SupportBank.csprojAssemblyReference.cache
obj/Debug/net5.0/SupportBank.dll
obj/Debug/net5.0/SupportBank.pdb
bin/Debug/net5.0/ref/SupportBank.dll
obj/Debug/net5.0/SupportBank.assets.cache
obj/Debug/net5.0/ref/SupportBank.dll